/General Styling/
body{
  font-family:Arial,Sans-serif;
  background-color:#f2f2f2;
  margin:0;
  padding:0;
}

/Heading/
h1 {
  text-align:center;
  color:black;
  margin:20px 0;
}

/Navigation bar/
nav {
background:white;
width:750px;
display:flex;
justify-content:space-between;
align-items: center;
margin: 0 auto;
padding: 5px 10px;
border-radius:22px;
box-shadow:2px 2px 20px rgba(0,0,0,0.3);
}

nav > a {
  color:black;
  text-decoration:none;
  padding:8px 16px;
  border-radius:22px;
  transition:background 0.25s,color 0.25s;
}

nav > a:hover {
  background:rgb(56,130,209);
  color:white;
}

/Website content/
.content {
  background: white;
  color:black;
  width:80%;
  max-width:800px;
  margin: 40px auto 100px auto;
  padding:30px;
  border-radius:15px;
  box-shadow:2px 2px 15px rgba(0,0,0,0.2);
  text-align:center;
  
}

.content h2{
  margin-bottom:15px;
  color:rgb(56,130,209);
}

/Footer Styling/
.footer {
  background:#111;
  color:#ddd;
  text-align:center;
  padding:15px 0;
  bottom:0;
  Left:0;
  width:100%;
  border-top: 3px solid rgb(56,130,209);
  font-size:0.9em;
  box-shadow:0 -2px 10px rgba(0,0,0,0.3);
  position:fixed;
}
.footer p {
  margin:0;
}